/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.bar-container {
  width: 100%; /* Full width */
  background-color: #828282; /* Grey background */
}

.votes {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

// .votes-box {
//   border-radius: 10px;
// background: linear-gradient(145deg, #ffffff, #e6e6e6);
// box-shadow:  14px 14px 28px #828282,
//              -14px -14px 28px #ffffff;
// }
.bar {width: 50%; background-color: #262626;} /* Green */